.profile {
  .card {
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;

    span.profile-photo {
      text-align: center;
    }

    img {
      width: 100%;
      max-width: 350px;
      padding-right: 1rem;
    }

    input[type="file"] {
      display: none;
    }

    label{
      padding: 10px 10px;
      width: 100%;
      background: var(--dark-blue);
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      cursor: pointer;
      transition: .5s;
      border: 1px solid #fff;
      border-radius: 8px;
    }

  label:hover{
    color: #333;
    background: #fff;
  }

    span.profile-data>* {
      padding: 3px 0;
      color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  span.profile-photo {
    margin: auto;
  }
}