.home {
  background-color: var(--dark-blue) ;
  min-height: 100vh;
  

  & nav {
    justify-content: flex-end;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
  }
}
.home-links {
    padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  padding: 0px 15px;
  margin-top:14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
}
.hero-image {
  display: flex;
  font-size: 30rem;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 0px 15px;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  }


